* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-color: darkgray;
  width: 45%;
}

main {
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 auto 75px;
  
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(225, 225, 225, 0.5);

  border-radius: 15px;
  color: #313131;
  font-size: 20px;
  transition: 0.5s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(225, 225, 225, 1);
}

.location-box {
  color: #FFF;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.location-box .location {
  font-size: 32px;
  font-weight: 500;
}

.location-box .date {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  font-size: 100px;
  font-weight: 900;
}

.weather-box .weather {
  font-size: 48px;
  font-weight: 700;

}